In [1]:
import pandas as pd
import json
import requests
from game_client import *

In [2]:
game_client = GameClient()
test_game_id = '2022030411'  # Replace with your test game ID
output = game_client.ping_game(test_game_id)

In [3]:
output

{'df':      shot_distance_to_goal  shot_angle  team        xG
 2                12.165525   -9.462322  home  0.153303
 3                12.806248  -38.659808  home  0.148119
 4                55.217751  -35.417055  home  0.026175
 8                11.180340   10.304846  home  0.160136
 9                35.846897   30.141386  home  0.060910
 ..                     ...         ...   ...       ...
 113               6.403124   51.340192  away  0.193175
 115              60.033324   -1.909152  away  0.021573
 124               7.280110  -74.054604  away  0.179335
 127              17.029386  -40.236358  away  0.126073
 128              80.006250   -0.716160  away  0.009068

 [129 rows x 4 columns],
 'live': False,
 'period': 3,
 'timeLeft': '00:00',
 'home_score': 5,
 'away_score': 2,
 'home_xG': 7.7705382595623265,
 'away_xG': 5.5664922389385385}

In [4]:
df = output["df"]

In [5]:
df

     shot_distance_to_goal  shot_angle  team        xG
2                12.165525   -9.462322  home  0.153303
3                12.806248  -38.659808  home  0.148119
4                55.217751  -35.417055  home  0.026175
8                11.180340   10.304846  home  0.160136
9                35.846897   30.141386  home  0.060910
..                     ...         ...   ...       ...
113               6.403124   51.340192  away  0.193175
115              60.033324   -1.909152  away  0.021573
124               7.280110  -74.054604  away  0.179335
127              17.029386  -40.236358  away  0.126073
128              80.006250   -0.716160  away  0.009068

[129 rows x 4 columns]

In [6]:
output_2 = game_client.ping_game(test_game_id)

In [7]:
output_2

{'df': Empty DataFrame
 Columns: []
 Index: [],
 'live': False,
 'period': 3,
 'timeLeft': '00:00',
 'home_score': 5,
 'away_score': 2,
 'home_xG': 7.7705382595623265,
 'away_xG': 5.5664922389385385}