In [1]:
import pandas as pd
import json
import requests
from game_client import *

In [2]:
game_client = GameClient()
test_game_id = '2023020497'  # Testing with a live game
output = game_client.ping_game(test_game_id)

In [3]:
output

{'df':      shot_distance_to_goal  shot_angle  team        xG
 1                43.278170  -49.685900  home  0.043254
 2                28.861739   14.036243  home  0.080574
 3                51.351728   -6.709837  home  0.031248
 5                29.529646  -61.699244  home  0.076151
 6                71.470274  -17.927920  home  0.013060
 ..                     ...         ...   ...       ...
 126              56.435804  -29.744881  away  0.024899
 129              26.172505   -6.581945  away  0.089092
 130              26.019224   -2.202598  away  0.089792
 131              23.430749   50.194429  away  0.101550
 134              55.901699  -47.174744  away  0.025295

 [135 rows x 4 columns],
 'live': True,
 'period': 3,
 'timeLeft': '00:00',
 'home_score': 1,
 'away_score': 2,
 'home_xG': 6.955862281323198,
 'away_xG': 5.833672891674699}

In [4]:
df = output["df"]

In [5]:
df

     shot_distance_to_goal  shot_angle  team        xG
1                43.278170  -49.685900  home  0.043254
2                28.861739   14.036243  home  0.080574
3                51.351728   -6.709837  home  0.031248
5                29.529646  -61.699244  home  0.076151
6                71.470274  -17.927920  home  0.013060
..                     ...         ...   ...       ...
126              56.435804  -29.744881  away  0.024899
129              26.172505   -6.581945  away  0.089092
130              26.019224   -2.202598  away  0.089792
131              23.430749   50.194429  away  0.101550
134              55.901699  -47.174744  away  0.025295

[135 rows x 4 columns]

In [6]:
# Ping again 2 minutes later (game ends)
output_2 = game_client.ping_game(test_game_id)

In [7]:
output_2

{'df': Empty DataFrame
 Columns: []
 Index: [],
 'live': True,
 'period': 3,
 'timeLeft': '00:00',
 'home_score': 1,
 'away_score': 2,
 'home_xG': 6.955862281323198,
 'away_xG': 5.833672891674699}